@import "tailwindcss";

/* @import "tw-animate-css"; */
@custom-variant dark (&:where(.dark, .dark *));

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.poppins-text {
    font-family: var(--font-poppins), sans-serif;
}

section{
    word-wrap: break-word;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100% !important;
}

.react-datepicker__month-container {
  background: #FEEBC8;
}