.gradient-clipped {
    background: linear-gradient(135deg, #637fe3 0%, #8556c2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.theme-gradient {
    background: linear-gradient(135deg, #637fe3 0%, #8556c2 100%);
}

.animateLeft {
    animation: animate-left 0.5s ease-in-out forwards;
}

@keyframes animate-left {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}