.gradient-clipped {
    background: linear-gradient(135deg, #637fe3 0%, #8556c2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.theme-gradient {
    background: linear-gradient(135deg, #637fe3 0%, #8556c2 100%);
}